/* Big tablet to 1200px(width smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
}




/* Small tablet to big tablet: from 768 to 1023 */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    .title-icon {
        display: none;
    }
    .navigation-item {
        padding: 1.1rem 0;
    }
    .header-logo {
        max-width: 224px;
    }
}

@media only screen and (min-width: 768px) {

    body.hasHover .navigation-item:hover {
        background-color: #e7e7e7;
    }
    body.hasHover .navigation-item:hover .dropdown-menu,
    .navigation-item.dropdown-opened .dropdown-menu
    {
        display: block;
    }


    body.hasHover .navigation-item:hover::after,
    .navigation-item.dropdown-opened::after
    {
        content: '';
        position: absolute;
        left: 45%;
        bottom: -18px;
        width: 12px;
        height: 12px;
        border: 2px solid rgba(0, 0, 0, 0.36);
        border-bottom-width: 0;
        border-right-width: 0;
        z-index: 9999;
        transform: rotate(45deg);
        margin-top: 2px;
        background-color: white;
    }

    .dropdown-menu:before {
        content: '';
        position: absolute;
        left: -1px;
        top: -12px;
        height: 12px;
        width: 100%;
    }

    .dropdown-menu {
        height: auto !important;
        position: absolute;
        top: 100%;
        min-width: 100%;
        z-index: 1000;
        display: none;
        padding: 0.2rem 0;
        margin-top: 10px;
        text-align: left;
        border: 0.1rem solid rgba(0, 0, 0, 0.36);
        border-radius: 0.25rem;
    }

    .navigation-item:last-child .dropdown-menu {
        right: 0;
    }

}

/* Small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {

    body { font-size: 16px; }

    header {
        position: fixed;
        top: 0;
    }

    .navigation-mobile-icon {
        display: block;
    }

    .navigation-list {
        position: fixed;
        display: block;
        top: 60px;
        right: -80%;
        overflow-y: auto;
        max-height: calc(100% - 60px);
        width: 80%;
        background-color: #eeeeee;
        transition: all .35s ease-out;
    }

    .navigation-list.in {
        right: 0;
    }

    .navigation-item {
        padding: 0;
    }

    .nav-item-container {
        display: flex;
        text-align: start;
        box-shadow: 0 3px 3px #afafaf;
    }

    .nav-link {
        flex: 1;
        display: flex;
        padding: .5rem 1rem;
    }

    .link-dropdown-container {
        border-left: 1px solid black;
        flex: 0 0 12%;
        display: flex;
    }

    .link-dropdown {
        width: 100%;
        margin: auto 0;
    }

    .link-dropdown span {
        background: #f4af33;
        display: block;
        height: 2px;
        width: 50%;
        max-width: 20px;
        transition: transform .3s ease;
        margin: 0 auto;
    }

    .link-dropdown span:last-child {
        margin-top: -1px;
        transform: rotate(90deg);
    }

    .opened .link-dropdown span:last-child {
        margin-top: -2px;
        transform: rotate(0);
    }

    .title-icon {
        flex: 0 0 15%;
        margin: auto;
        display: inline-flex;
    }

    .title-icon i {
        width: 100%;
        text-align: center;
    }

    .title-text {
        flex: 1;
        margin: auto 0 auto 5%;
        font-size: 22px;
    }

    .dropdown-menu {
        height: 0;
        overflow: hidden;
        background-color: #656565;
        transition: height 0.3s linear;
    }

    .dropdown-item {
        text-align: start;
        padding: 10px 15px 10px 40px;
    }

    .dropdown-item:link, .dropdown-item:visited, .dropdown-item:hover, .dropdown-item:active {
        color: white;
    }

}


/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {


}
