@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

html,
body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 40px;
}


/* HEADER */
.header {
    border-bottom: 1px solid #e4e6df;
    width: 100%;
}

.header-container {
    display: flex;
    max-width: 1200px;
    padding: 0 1rem;
    margin: auto auto;
}

.header-logo {
    margin: auto;
    max-width: 380px;
    width: 100%;
}

.logo-img {
    width: 100%;
}

.navigation {
    flex: 1;
    display: flex;
}

.navigation-container {
    margin-left: auto;
    width: 80%;
}

.navigation-list {
    list-style: none;
    display: flex;
}

.navigation-item {
    position: relative;
    padding: 15px 0;
    flex: 1 1 0;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}


.title-icon {
    display: block;
    font-size: 180%;
    color: #0b6981;
}

.dropdown-item {
    display: block;
    padding: 0.25rem 1rem;
    font-weight: 400;
    white-space: nowrap;
}

.navigation-mobile-icon {
    margin: 10px auto;
    cursor: pointer;
    display: none;
}

.navigation-mobile-icon i {
    font-size: 200%;
    color: #000;
}




/* SECTION */

.section-container {
    max-width: 1300px;
    margin: 30px auto;
    z-index: 0;
}

.page-title {
    text-align: center;
    overflow: hidden;
}

.page-title h1 {
    min-width: 50%;
    padding: 0 20px;
    display: inline-block;
    position: relative;
}

.page-title h1::before,
.page-title h1::after
{
    content: '';
    position: absolute;
    top: 50%;
    background: #484848;
    width: 100%;
    height: 2px;
}
.page-title h1::before {
    right: 100%;
}
.page-title h1::after {
    left: 100%;
}

.welcome-container {
    display: flex;
    align-items: stretch;
}

.welcome-text {
    flex: 0 0 50%;
}

.welcome-text p {
    padding: 15px 10px;
}

.welcome-quiz {
    flex: 0 0 50%;

    margin: 15px 10px;
    display: flex;
    flex-direction: column;
}

.quiz-container {
    flex: 1;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    height: 100%;
}

.quiz-questions {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.quiz-answers {
    display: flex;
    margin: 10px auto;
    width: 35%;
    align-self: stretch;
}

.answer-button {
    border: 2px solid #ff0032;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    width: 50%;
    text-align: center;
    background: #fff;
    color: #ff0032;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 5px;
}

.answer-button:hover {
    background: #ff0032;
    color: #fff;
}

.question {
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    transition: transform 0.3s ease;
    display: inline-block;
    margin-top: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0,-50%);
}

.question.question-right {
    transform: translate(100%,-50%);
}

.question.question-left {
    transform: translate(-100%,-50%);
}

.quiz-steps {
    flex: 0 0 15%;
    display: flex;
    margin: 10px auto;
    /*min-width: 10%;*/
    position: relative;
    padding-left: 25px;
    /*justify-content: center;*/
}

.step {
    transition: all 0.3s ease;
    height: 22px;
    width: 22px;
    border: 5px solid #fff;
    margin: 0 10px 0 0;
    border-radius: 12px;
    background: linear-gradient(45deg,rgba(255,2,49,1) 0%,rgba(255,93,2,1) 100%);
}

.step.choice {
    box-shadow: 0 0 0 2px #ff5d02;
}
.step.done {
    border-radius: 22px;
    border: none;
}

.step-back {
    content: '';
    width: 0;
    height: 0;
    border: 13px solid transparent;
    border-right-color: rgba(255,2,49,1);
    cursor: pointer;
    position: absolute;
    opacity: 1;
    left: -7%;
    top: -5%;
    transition: opacity 0.3s ease;
}

.step-back.hide{
    opacity: 0;
    cursor: default;
}