@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

html,
body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 40px;
}


/* HEADER */
.header {
    border-bottom: 1px solid #e4e6df;
    width: 100%;
}

.header-container {
    display: flex;
    max-width: 1200px;
    padding: 0 1rem;
    margin: auto auto;
}

.header-logo {
    margin: auto;
    max-width: 380px;
    width: 100%;
}

.logo-img {
    width: 100%;
}

.navigation {
    flex: 1;
    display: flex;
}

.navigation-container {
    margin-left: auto;
    width: 80%;
}

.navigation-list {
    list-style: none;
    display: flex;
}

.navigation-item {
    position: relative;
    padding: 15px 0;
    flex: 1 1 0;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}


.title-icon {
    display: block;
    font-size: 180%;
    color: #0b6981;
}

.dropdown-item {
    display: block;
    padding: 0.25rem 1rem;
    font-weight: 400;
    white-space: nowrap;
}

.navigation-mobile-icon {
    margin: 10px auto;
    cursor: pointer;
    display: none;
}

.navigation-mobile-icon i {
    font-size: 200%;
    color: #000;
}




/* SECTION */

.section-container {
    max-width: 1300px;
    margin: 30px auto;
}

.page-title {
    text-align: center;
    overflow: hidden;
}

.page-title h1 {
    min-width: 50%;
    padding: 0 20px;
    display: inline-block;
    position: relative;
}

.page-title h1::before,
.page-title h1::after
{
    content: '';
    position: absolute;
    top: 50%;
    background: #484848;
    width: 100%;
    height: 2px;
}
.page-title h1::before {
    right: 100%;
}
.page-title h1::after {
    left: 100%;
}

.welcome-container {
    display: flex;
}

.welcome-text {
    flex: 0 0 50%;
}

.welcome-text p {
    padding: 15px 10px;
}

.welcome-quiz {
    max-width: 50%;
}